{% from "formhelpers.html" import render_field %}
{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/static/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/css/input.css">
<h3 align="center"> Specify parameters for load test</h3>
<!--start form -->


<div class="row">
                <div class="col-lg-4"> </div>
                    <div class="col-lg-4">


<br>
    <h4 align="center"> Please enter number of users and url</h4>

            <br>



      {% for message in get_flashed_messages() -%}
        <div class="alert alert-success" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only"></span> {{ message }}
        </div>
      {%- endfor %}

    <form action="" method="post">


 <div>      <br>
<br>
    {{ render_field(form.url) }}
        <br>
    {{ render_field(form.users_number) }}
        <br>
     </div>
   <div class="wrapper">
            <span class="group-btn">
         <input class="btn btn-primary btn-lg center-block " type="submit" value="Submit" style="" id="submit" >
</span>
</div>
         </form>

</div>
    </div>
    </div>
    </body>
 {% endblock %}